<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
  <a class="navbar-brand" href="#">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/repairs">Repairs</a>
        </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Manifacture</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">About Us</a>
      </li>
    </ul>
  </div>
    </div>
</nav>
</div>
<div style="background: url('https://images.unsplash.com/photo-1619642751034-765dfdf7c58e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1074&q=80') no-repeat center;background-size: cover; height: 600px; width: 100%">
    <div class="row pt-5">
        <div class="col-md-1 mt-5"></div>
        <div class="col-md-5 mt-5">
        <h1 class="display-4 text-white">HONEST, QUALITY WORK</h1>
        <h1 class="display-4 text-white fw-bold">AT AFFORDABLE PRICES</h1>
        <p class="text-white">We provide top-notch service for import and domestic car repairs. Servicing brakes, Exhaust, Tune Ups, Engine Repairs, Electrical and A.C Systems.</p>
        <div>
        <a class="text-white btn btn-primary btn-lg">GET FREE QUOTES</a>
        </div>
        </div>
    </div>
</div>
<div class="text-center row justify-content-around mt-5">
    <div class="col-md-5">
        <h1 class="display-6 text-uppercase fw-normal">Our Services</h1>
        <hr class="ms-auto me-auto" style="width: 10%">
        <p>Our professionals will perform diagnostic tests, fluid flush and fills, engine replacement, oil changes, and total vehicle overhauls.</p>
    </div>
</div>
<div class="text-center row justify-content-around mt-5">
    <div class="col-md-5">
        <h1 class="display-6 text-uppercase fw-normal">Our Gallery</h1>
        <hr class="ms-auto me-auto" style="width: 10%">
        <p>Our professionals will perform diagnostic tests, fluid flush and fills, engine replacement, oil changes, and total vehicle overhauls.</p>
    </div>
</div>
<div class="container">
<div class="row mt-5 justify-content-between mb-5">
    <div class="col-md-4">
        <img src="https://e1.pxfuel.com/desktop-wallpaper/29/795/desktop-wallpaper-car-tool-mechanic-repair-section-car-mechanic.jpg" alt="" class="img-fluid">
    </div>
    <div class="col-md-4">
        <img src="https://img.freepik.com/premium-photo/fist-mechanics-hand-with-tool_35150-1271.jpg?w=1380" alt="" class="img-fluid">
    </div>
    <div class="col-md-4">
        <img src="https://img.freepik.com/free-photo/auto-mechanic-working-garage-repair-service_146671-18358.jpg?w=1380&t=st=1685732499~exp=1685733099~hmac=26c1fc578cd9c40328dca527fcbc83ed900d6e97b0882335b57f6b608f4210fc" alt="" class="img-fluid">
    </div>
</div>
</div>
<div class="row text-center mb-5">
    <div class="col-md-12">
    <a class="btn btn-outline-secondary text-black ps-4 pe-4 mt-2 mb-2 text-muted" href="#">SEE FULL GALLERY</a>
    </div>
</div>
<div class="container mb-5">
    <div class="row">
        <div class="col-md-3">
            <img src="https://media.istockphoto.com/id/899675300/photo/male-car-mechanic-repairing-the-car-with-pneumatic-key-on-hydraulic-lift-and-girl-in-a-frank.jpg?s=2048x2048&w=is&k=20&c=9vdTLOLtNwp7T29cu5xBkps5xZnSFD5Og7FQ8CQYNlc=" alt="" class="img-fluid">
        </div>
        <div class="col-md-3">
            <img src="https://previews.123rf.com/images/bialasiewicz/bialasiewicz1404/bialasiewicz140400744/27655385-mechanic-fixing-car-engine-with-key-vertical.jpg" alt="" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h1>LONG TERM WARRANTIES AND COMPETITIVE PRICES</h1>
            <hr style="width: 10%">
            <p>Why do we consider ourselves to be the best car garage? It’s simple, really. We know that honesty and transparency, coupled with reliable and friendly customer service, is what really builds customer trust.</p>
            <p>Trust the experts at our AutoService Shop for quality tune-ups. Our professionals will perform diagnostic tests, fluid flush and fills, engine replacement, oil changes, and total vehicle overhauls. We offer competitive.</p>
            <a href="#" class="btn btn-primary ps-5 pe-5 pt-2 pb-2 mt-5">SEE ALL OUR OFFERS</a>
        </div>
    </div>
</div>

</body>
</html>